<%= form_for [order] do |f| %>
    <div class="field">
        <% if @customer.present? %>
            <% customers_full_name_array = Customer.all.map { |customer| [customer.full_name, customer.id] } %>
            <%= f.label "Add order for: " %>
            <%= select_tag(:customer_id, options_for_select(customers_full_name_array, @customer.id)) %>
        <% else %>
            <% customers_full_name_array = Customer.all.map { |customer| [customer.full_name] } %>
            <%= f.label "Add order for: " %>
            <%= select_tag(:full_name, options_for_select(customers_full_name_array)) %>
        <% end %>
    </div>

    <div class="field">
        <%= f.label :product_name %>
        <%= f.text_field :product_name %>
    </div>

    <div class="field">
        <%= f.label :product_count, "Count" %>
        <%= f.text_field :product_count %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>