<p style="color: green"><%= notice %></p>

<%= render @order %>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |

  <%= link_to "Destroy this order", [@order], data: { 'turbo-method': :delete } %>  |
  <%= link_to "Back to customer", customer_path(@customer) %>
</div>
